.relaxblue {
    color:blue;
    text-align: left;
    margin-left: 47%;
}

h1 {
    color:darkblue;
    text-align: center;
}
.here {
    color: darkblue;
    text-align: center;
}
body {
    font-weight: 600;
    font-size: 140%;
    background-image: url('https://img.freepik.com/vetores-gratis/folha-de-cha-com-copo-padrao-sem-costura_5586-205.jpg?size=338c&ext=jpg');
}

#white {
    background-color: aliceblue;
    margin-left: 20%;
    margin-right:20%;
    padding-top: 15px;
    padding-bottom: 100px;
    border: solid blue;
}
